@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/amatic-sc-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/amatic-sc-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/caveat-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/fonts/caveat-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/fonts/caveat-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/caveat-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Barriecito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/barriecito-400.ttf) format('truetype');
}
